@import "base.scss";

header.header {
	grid-column: full-start / col-end 6;
	background: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)),
		url("../../img/hero.jpeg") center/cover;

	display: grid;
	justify-content: center;
	grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
	// grid-template-columns: minmax(min-content, 90rem);

	padding: 8rem;
	padding-top: 4rem;
	row-gap: 1.5rem;

	.header {
		&__logo {
			height: 3rem;
			justify-self: center;
		}

		&__btn {
			place-self: start;
		}

		&__seenon-text {
			display: grid;
			grid-template-columns: 1fr max-content 1fr;
			color: $color-grey-light-2;
			align-items: center;
			column-gap: 1.5rem;
			font-size: 1.6rem;

			&::after,
			&::before {
				content: "";
				display: block;
				height: 1px;
				background-color: currentColor;
			}
		}

		&__seenon-logos {
			// display: flex;
			// justify-content: space-around;
			// ?: If display: flex is used, the whole header becomes smaller
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 1rem;
			place-items: center;

			img {
				max-height: 2.5rem;
				max-width: 100%;
				filter: brightness(70%);
			}
		}
	}
}
