@import "base.scss";

section.realtors {
	background-color: $color-secondary;
	grid-column: col-start 7 / full-end;
	display: grid;
	place-content: center;
	row-gap: 2rem;
	color: white;

	.realtors {
		&__heading {
			justify-self: center;
		}

		&__info {
			display: grid;
			grid-template-columns: repeat(2, max-content);
			grid-template-rows: repeat(2, max-content);
			align-items: end;
			gap: 0.2rem 2rem;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&__sold {
			grid-column: 2 / span 1;
			align-self: start;
			color: $color-grey-light-2;
			text-transform: uppercase;
		}

		&__img {
			width: 7rem;
			border-radius: 50%;
			grid-row: 1 / span 2;
		}
	}
}
